name: torn_pda
description: Torn City personal assistant

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
#version: 1.0.0

environment:
  sdk: ">=2.7.0 <3.0.0"
  #flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  android_intent: ^2.0.0
  animations: ^2.0.0
  audioplayers: ^0.19.1
  bot_toast: ^4.0.1
  bubble_showcase: ^1.0.0
  cloud_firestore: ^1.0.7
  cloud_functions: ^3.0.5
  cookie_jar: ^3.0.1
  cupertino_icons: ^1.0.2
  device_info: ^2.0.0
  dotted_border: ^2.0.0
  easy_rich_text: ^0.5.3
  expandable: ^5.0.1
  ## ffi ^ to avoid strut errors
  ## ffi: ^1.0.0
  firebase_analytics: ^8.0.2
  firebase_auth: ^3.1.4
  firebase_core: ^1.0.2
  firebase_crashlytics: ^2.0.2
  firebase_database: ^7.0.0-dev.3
  firebase_messaging: ^10.0.0
  fl_chart: ^0.36.0
  flutter_app_badger: ^1.2.0
  flutter_colorpicker: ^0.6.0
  flutter_inappwebview: ^5.3.2
  flutter_local_notifications: ^6.0.0
  flutter_slidable: ^0.6.0
  flutter_speed_dial: ^4.0.0-dev.1
  get: ^4.3.8
  home_widget: ^0.1.3
  html: ^0.15.0
  http: ^0.13.2
  lint: ^1.5.3
  ## flutter pub run import_sorter:main
  import_sorter: ^4.5.0
  intl: ^0.17.0
  material_design_icons_flutter: ^5.0.5955-rc.1
  non_linear_slider: ^0.0.1
  percent_indicator: ^3.4.0
  provider: ^5.0.0
  pull_to_refresh: ^2.0.0
  quick_actions: ^0.6.0
  rxdart: ^0.26.0
  share: ^2.0.1
  shared_preferences: ^2.0.5
  showcaseview: ^1.1.1
  sliding_up_panel: ^2.0.0+1
  speech_bubble: 0.0.9
  timeline_tile: ^2.0.0
  timezone: ^0.7.0
  uni_links: ^0.5.1
  url_launcher: ^6.0.3
  vibration: ^1.7.4-nullsafety.0
  wakelock: ^0.5.2
  webview_flutter: ^2.0.10

dev_dependencies:
  flutter_launcher_icons: ^0.9.0
  flutter_test:
    sdk: flutter

flutter_icons:
  android: true
  ios: true
  image_path: "images/icons/torn_pda.png"
  image_path_ios: "images/icons/torn_pda_ios.jpg"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - images/awards/
    - images/awards/honors/
    - images/awards/medals/
    - images/awards/categories/
    - images/flags/stock/
    - images/flags/travel/
    - images/icons/
    - images/icons/cooldowns/
    - images/icons/map/
    - images/icons/inventory/
    - images/icons/home/
    - images/icons/status/
    - images/torn_items/small/
    - images/npcs/
    - sounds/alerts/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
