name: torn_pda
description: Torn City personal assistant
publish_to: none

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 3.9.4+590

environment:
  sdk: ">=3.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  accessibility_tools: 2.6.0
  android_intent_plus: 5.3.0
  animations: 2.0.11
  app_badge_plus: 1.2.3
  app_links: 6.4.0
  app_settings: 6.1.1
  audioplayers: 6.5.0
  auth_buttons: 3.0.3
  bot_toast: 4.1.3
  cloud_firestore: 6.0.1
  cloud_functions: 6.0.1
  collection: 1.19.1
  connectivity_plus: 6.1.5
  cookie_jar: 4.0.8
  crypto: 3.0.6
  csv: 6.0.0
  cupertino_icons: 1.0.8
  dart_ping: 9.0.1
  dart_ping_ios: 4.0.2
  dbcrypt: 2.0.0
  dio: 5.8.0+1
  device_info_plus: 11.5.0
  easy_rich_text: 2.2.0
  encrypt_shared_preferences: 0.9.10
  envied: 1.2.1
  expandable: 5.0.1
  file_picker: 10.3.1
  file_saver: 0.3.1
  firebase_analytics: 12.0.1
  firebase_auth: 6.0.2
  firebase_core: 4.1.0
  firebase_crashlytics: 5.0.1
  firebase_database: 12.0.1
  firebase_messaging: 16.0.1
  firebase_remote_config: 6.0.1
  fl_chart: 1.0.0
  flex_color_picker: 3.7.1
  sembast: 3.8.5+1
  flutter_font_icons: 2.2.7
  flutter_inappwebview: 6.1.5
  flutter_local_notifications: 19.4.0
  flutter_secure_storage: 9.2.4
  flutter_slidable: 4.0.0
  flutter_speed_dial: 7.0.0
  flutter_svg: 2.2.0
  flutter_timezone: 4.1.1
  flutter_xlider: 3.5.0
  font_awesome_flutter: 10.8.0
  # Temporary as per https://github.com/jonataslaw/getx/issues/3100
  get: 5.0.0-release-candidate-9.3.2
  google_sign_in: 7.1.0
  home_widget:
    git:
      url: https://github.com/Manuito83/home_widget.git
      ## branch pda-dev-0.8.0
      ref: 85c37faa6cc62cd237264a82602eafd4eef937b1
      path: packages/home_widget
  html: 0.15.6
  http: 1.5.0
  internet_connection_checker_plus: 2.7.2
  intl: 0.20.2
  json_annotation: 4.9.0 # Used by swagger_dart_code_generator
  lints: 6.0.0
  flutter_material_design_icons: 1.1.7447
  path_provider: 2.1.5
  ## Bug submitted for v4.2.5 (plane icon out of place)
  percent_indicator: 4.2.3
  flutter_refresh_rate_control: ^0.0.4+1
  provider: 6.1.5
  pull_to_refresh: 2.0.0
  quick_actions: 1.1.0
  receive_intent:
    git:
      url: https://github.com/daadu/receive_intent
      ref: master
  rxdart: 0.28.0
  sendbird_chat_sdk: 4.5.2
  share_plus: 12.0.0
  shared_preferences: 2.5.3
  showcaseview: 4.0.1
  sign_in_with_apple: 7.0.1
  timeline_tile: 2.0.0
  timezone: 0.10.0
  toastification: 3.0.3
  toggle_switch: 2.3.0
  uri_to_file: 1.0.0
  url_launcher: 6.3.1
  vibration: 3.1.4
  wakelock_plus: 1.4.0
  webview_flutter: 4.13.0
  workmanager: 0.9.0+3

#dependency_overrides:
  #flutter_inappwebview: 6.1.5
  #flutter_inappwebview:
  #  git:
  #    url: https://github.com/Manuito83/flutter_inappwebview.git
  #    ref: 22cbcd5d475629e7147745513fe037e826983a5a
  #    path: ./flutter_inappwebview
  #flutter_inappwebview_platform_interface:
  #  git:
  #    url: https://github.com/Manuito83/flutter_inappwebview.git
  #    ref: 22cbcd5d475629e7147745513fe037e826983a5a
  #    path: ./flutter_inappwebview_platform_interface
  #flutter_inappwebview_android:
  #  git:
  #    url: https://github.com/Manuito83/flutter_inappwebview.git
  #    ref: 22cbcd5d475629e7147745513fe037e826983a5a
  #    path: ./flutter_inappwebview_android
  #flutter_inappwebview_ios:
  #  git:
  #    url: https://github.com/Manuito83/flutter_inappwebview.git
  #    ref: 22cbcd5d475629e7147745513fe037e826983a5a
  #    path: ./flutter_inappwebview_ios

dev_dependencies:
  build_runner: ^2.7.1
  # Used by swagger_dart_code_generator
  chopper_generator: 8.4.0 
  envied_generator: 1.3.0
  flutter_launcher_icons: 0.14.4
  # Used by swagger_dart_code_generator
  json_serializable: 6.11.1 
  ## flutter pub run import_sorter:main
  import_sorter: 5.0.0-releasecandidate.1
  swagger_dart_code_generator: 4.0.0

flutter_icons:
  android: true
  ios: true
  image_path: "images/icons/torn_pda.png"
  image_path_ios: "images/icons/torn_pda_ios.jpg"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - images/awards/
    - images/awards/honors/
    - images/awards/medals/
    - images/awards/categories/
    - images/flags/stock/
    - images/flags/travel/
    - images/flags/ball/
    - images/icons/
    - images/icons/cooldowns/
    - images/icons/map/
    - images/icons/inventory/
    - images/icons/home/
    - images/icons/status/
    - images/icons/rarity/
    - images/torn_items/small/
    - images/npcs/
    - sounds/alerts/
    - userscripts/TornPDA_Ready.js
    - userscripts/TornPDA_API.js
    - userscripts/TornPDA_EvaluateJavascript.js

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  fonts:
    - family: Visitor
      fonts:
        - asset: fonts/visitor.ttf
