name: torn_pda
description: Torn City personal assistant

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
#version: 1.0.0

environment:
  sdk: ">=3.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  android_intent_plus: 5.2.1
  animations: 2.0.11
  app_badge_plus: 1.1.6
  app_links: 6.3.3
  app_settings: 5.1.1
  audioplayers: 6.1.0
  bot_toast: 4.1.3
  cloud_firestore: 5.6.5
  cloud_functions: 5.3.4
  connectivity_plus: 6.1.1
  cookie_jar: 4.0.8
  crypto: 3.0.6
  csv: 6.0.0
  cupertino_icons: 1.0.8
  dart_ping: 9.0.1
  dart_ping_ios: 4.0.2
  dbcrypt: 2.0.0
  dio: 5.7.0
  device_info_plus: 11.2.0
  easy_rich_text: 2.2.0
  envied: ^1.1.1
  expandable: 5.0.1
  ## ffi ^ to avoid strut errors
  ## ffi: ^1.0.0
  firebase_analytics: 11.4.1
  firebase_auth: 5.5.1
  firebase_core: 3.12.1
  firebase_crashlytics: 4.3.4
  firebase_database: 11.3.4
  firebase_messaging: 15.2.4
  firebase_remote_config: 5.4.2
  fl_chart: 0.69.2
  flex_color_picker: 3.6.0
  flutter_displaymode: 0.6.0
  flutter_font_icons: 2.2.7
  #flutter_inappwebview: any
  flutter_local_notifications: 19.0.0-dev.3
  flutter_native_splash: 2.4.5
  flutter_secure_storage: 9.2.4
  flutter_slidable: 3.1.2
  flutter_speed_dial: 7.0.0
  flutter_timezone: 4.0.0
  flutter_xlider: 3.5.0
  font_awesome_flutter: 10.8.0
  # Temporary as per https://github.com/jonataslaw/getx/issues/3100
  get: 5.0.0-release-candidate-9.2.1
  home_widget:
    git:
      url: https://github.com/Manuito83/home_widget.git
      ## TODO: merge pda-dev into pda-stable and change ref
      ref: 8ecac9ede8c4a06a9409848da339f181169300db
  html: 0.15.5
  http: 1.2.2
  json_annotation: 4.9.0 # Used by swagger_dart_code_generator
  lints: 5.1.0
  ## flutter pub run import_sorter:main
  import_sorter: 4.6.0
  intl: 0.20.1
  material_design_icons_flutter: 7.0.7296 ## Breaking changes in minor versions
  path_provider: 2.1.5
  percent_indicator: 4.2.3
  provider: 6.1.2
  pull_to_refresh: 2.0.0
  quick_actions: 1.1.0
  receive_intent: 0.2.5
  rxdart: 0.28.0
  sendbird_chat_sdk: 4.2.30
  share_plus: 10.1.3
  shared_preferences: 2.3.3
  showcaseview: 3.0.0
  sliding_up_panel: 2.0.0+1
  timeline_tile: 2.0.0
  timezone: 0.10.0
  toastification: 2.3.0
  toggle_switch: 2.3.0
  upgrader: 11.3.1
  url_launcher: 6.3.1
  ## Temporary fix for https://github.com/flutter/flutter/issues/151467
  url_launcher_ios: 6.3.1  ## (delete next version)
  ###########################
  vibration: 2.0.1
  wakelock_plus: 1.2.10
  webview_flutter: 4.10.0
  ## TODO: https://github.com/fluttercommunity/flutter_workmanager/issues/588
  workmanager:
    git:
      url: https://github.com/fluttercommunity/flutter_workmanager.git
      path: workmanager
      ref: main

dependency_overrides: 
  flutter_inappwebview: 6.1.5
  #flutter_inappwebview:
  #  git:
  #    url: https://github.com/Manuito83/flutter_inappwebview.git
  #    ref: 22cbcd5d475629e7147745513fe037e826983a5a
  #    path: ./flutter_inappwebview
  #flutter_inappwebview_platform_interface:
  #  git:
  #    url: https://github.com/Manuito83/flutter_inappwebview.git
  #    ref: 22cbcd5d475629e7147745513fe037e826983a5a
  #    path: ./flutter_inappwebview_platform_interface
  #flutter_inappwebview_android:
  #  git:
  #    url: https://github.com/Manuito83/flutter_inappwebview.git
  #    ref: 22cbcd5d475629e7147745513fe037e826983a5a
  #    path: ./flutter_inappwebview_android
  #flutter_inappwebview_ios:
  #  git:
  #    url: https://github.com/Manuito83/flutter_inappwebview.git
  #    ref: 22cbcd5d475629e7147745513fe037e826983a5a
  #    path: ./flutter_inappwebview_ios

dev_dependencies:
  build_runner: ^2.4.14
  chopper_generator: ^8.0.3 # Used by swagger_dart_code_generator
  envied_generator: ^1.1.1
  flutter_launcher_icons: 0.13.1
  flutter_test:
    sdk: flutter
  json_serializable: ^6.8.0 # Used by swagger_dart_code_generator
  swagger_dart_code_generator: ^3.0.1
  
flutter_icons:
  android: true
  ios: true
  image_path: "images/icons/torn_pda.png"
  image_path_ios: "images/icons/torn_pda_ios.jpg"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - images/awards/
    - images/awards/honors/
    - images/awards/medals/
    - images/awards/categories/
    - images/flags/stock/
    - images/flags/travel/
    - images/flags/ball/
    - images/icons/
    - images/icons/cooldowns/
    - images/icons/map/
    - images/icons/inventory/
    - images/icons/home/
    - images/icons/status/
    - images/icons/rarity/
    - images/torn_items/small/
    - images/npcs/
    - sounds/alerts/
    - userscripts/TornPDA_Ready.js
    - userscripts/TornPDA_API.js
    - userscripts/TornPDA_EvaluateJavascript.js

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  fonts:
    - family: Visitor
      fonts:
        - asset: fonts/visitor.ttf
