<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:torn.com</string>
		<string>applinks:www.torn.com</string>
		<string>applinks:api.torn.com</string>
		<string>applinks:wiki.torn.com</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.manuito.tornpda</string>
	</array>
</dict>
</plist>
