{
    "openapi": "3.0.0",
    "info": {
        "title": "Torn API",
        "description": "\n * The development of Torn's API v2 is still ongoing.\n * If selections remain unaltered, they will default to the API v1 version.\n * Unlike API v1, API v2 accepts both selections and IDs as path and query parameters.\n * If any discrepancies or errors are found, please submit a [bug report](https://www.torn.com/forums.php#/p=forums&f=19&b=0&a=0) on the Torn Forums.",
        "version": "1.1.0"
    },
    "servers": [
        {
            "url": "https://api.torn.com/v2",
            "description": "This is the base URL"
        }
    ],
    "paths": {
        "/faction/{id}/hof": {
            "get": {
                "tags": [
                    "Hall of Fame",
                    "Faction",
                    "Stable"
                ],
                "summary": "Get a faction's hall of fame rankings.",
                "description": "Requires public access key. <br> ",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionHofResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/hof": {
            "get": {
                "tags": [
                    "Hall of Fame",
                    "Faction",
                    "Stable"
                ],
                "summary": "Get your faction's hall of fame rankings.",
                "description": "Requires public access key. <br> ",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionHofResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/{id}/members": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get a list of a faction's members",
                "description": "Requires public access key. <br> The 'revive_setting' value will be populated (not Unknown) if you're requesting data for your own faction and have faction permissions (with custom, limited or full access keys), otherwise it will be set as 'Unknown'.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionMembersResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/members": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get a list of your faction's members",
                "description": "Requires public access key. <br> The 'revive_setting' value will be populated (not Unknown) if you have faction permissions (with custom, limited or full access keys), otherwise it will be set as 'Unknown'.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionMembersResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/{id}/basic": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get a faction's basic details",
                "description": "Requires public access key. <br> The 'is_enlisted' value will be populated if you're requesting data for your faction and have faction permissions (with custom, limited or full access keys), otherwise it will be set as null.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionBasicResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/basic": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get your faction's basic details",
                "description": "Requires public access key. <br> The 'is_enlisted' value will be populated if you have API faction permissions (with custom, limited or full access keys), otherwise it will be set as null.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionBasicResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/{id}/wars": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get a faction's wars & pacts details",
                "description": "Requires public access key. <br> ",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionWarsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/wars": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get your faction's wars & pacts details",
                "description": "Requires public access key. <br> ",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionWarsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/news": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get your faction's news details",
                "description": "Requires minimal access key with faction API access permissions. <br> It is possible to pass up to 10 categories at the time (comma separated). Categories 'attack', 'depositFunds' and 'giveFunds' are only available with 'Custom', 'Limited' or 'Full' access keys.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsFalse"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "News category type",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionNewsCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionNewsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/attacks": {
            "get": {
                "tags": [
                    "Faction",
                    "Attacking",
                    "Stable"
                ],
                "summary": "Get your faction's detailed attacks",
                "description": "Requires limited access key with faction API access permissions. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionAttacksResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/attacksfull": {
            "get": {
                "tags": [
                    "Faction",
                    "Attacking",
                    "Stable"
                ],
                "summary": "Get your faction's attacks",
                "description": "Requires limited access key with faction API access permissions. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit1000"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionAttacksFullResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/applications": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get your faction's applications",
                "description": "Requires minimal access key with faction API access permissions. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionApplicationsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/{id}/chain": {
            "get": {
                "tags": [
                    "Faction",
                    "Unstable"
                ],
                "summary": "Get a faction's current chain",
                "description": "Requires public access key. <br>",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionOngoingChainResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/chain": {
            "get": {
                "tags": [
                    "Faction",
                    "Unstable"
                ],
                "summary": "Get your faction's current chain",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionOngoingChainResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/{id}/chains": {
            "get": {
                "tags": [
                    "Faction",
                    "Unstable"
                ],
                "summary": "Get a list of a faction's completed chains",
                "description": "Requires public access key. <br>",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionChainsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/chains": {
            "get": {
                "tags": [
                    "Faction",
                    "Unstable"
                ],
                "summary": "Get a list of your faction's completed chains",
                "description": "Requires public access key. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionChainsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/{chainId}/chainreport": {
            "get": {
                "tags": [
                    "Faction",
                    "Unstable"
                ],
                "summary": "Get a chain report",
                "description": "Requires public access key. <br> Chain reports for ongoing chains are available only for your own faction.",
                "parameters": [
                    {
                        "name": "chainId",
                        "in": "path",
                        "description": "Chain id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ChainId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionChainReportResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/chainreport": {
            "get": {
                "tags": [
                    "Faction",
                    "Unstable"
                ],
                "summary": "Get your faction's latest chain report",
                "description": "Requires public access key. <br> This includes currently ongoing chains.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionChainReportResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/crimes": {
            "get": {
                "tags": [
                    "Faction",
                    "Unstable"
                ],
                "summary": "Get your faction's organized crimes",
                "description": "Requires public minimal access key with faction API access permissions. <br> It's possible to get older entries either by timestamp range (from, to) or with offset.",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Category of organized crimes returned. Category 'available' includes both 'recruiting' & 'planning', and category 'completed' includes both 'successful' & 'failure'<br>Default category is 'all'",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "recruiting",
                                "planning",
                                "failure",
                                "successful",
                                "expired",
                                "available",
                                "completed"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Returns crimes created after this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Returns crimes created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Direction to sort rows in",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionCrimesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/lookup": {
            "get": {
                "tags": [
                    "Faction",
                    "Lookup",
                    "Stable"
                ],
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionLookupResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction/timestamp": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get current server time",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/faction": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get any Faction selection",
                "description": "Key access level depends on the required selections. <br> Choose one or more selections (comma separated).",
                "parameters": [
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/FactionSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTags"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Direction to sort rows in",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/FactionHofResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionMembersResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionBasicResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionWarsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionNewsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionAttacksResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionAttacksFullResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionApplicationsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionOngoingChainResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionChainsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionChainReportResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionCrimesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/forum/categories": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get publicly available forum categories",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumCategoriesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/forum/{categoryIds}/threads": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get threads for specific public forum category or categories",
                "description": "Requires public access key. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by the greatest of first_post_time and last_post_time timestamps",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Returns threads created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Returns threads created after this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "categoryIds",
                        "in": "path",
                        "description": "Category id or a list of category ids (comma separated)",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumThreadsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/forum/threads": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get threads across all forum categories",
                "description": "Requires public access key. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by the greatest of first_post_time and last_post_time timestamps",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Returns threads created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Returns threads created after this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumThreadsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/forum/{threadId}/thread": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get specific thread details",
                "description": "Requires public access key. <br>Contains details of a thread including topic content and poll (if any).",
                "parameters": [
                    {
                        "name": "threadId",
                        "in": "path",
                        "description": "Thread id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ForumThreadId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumThreadResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/forum/{threadId}/posts": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get specific forum thread posts",
                "description": "Requires public access key. <br>Returns 20 posts per page for a specific thread.",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "minimum": 0
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "name": "threadId",
                        "in": "path",
                        "description": "Thread id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ForumThreadId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumPostsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/forum/lookup": {
            "get": {
                "tags": [
                    "Forum",
                    "Lookup",
                    "Stable"
                ],
                "summary": "Get all available forum selections",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumLookupResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/forum/timestamp": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get current server time",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/forum": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get any Forum selection",
                "description": "Requires public access key. <br>Choose one or more selections (comma separated).",
                "parameters": [
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ForumSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTags"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Direction to sort rows in",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/ForumCategoriesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ForumThreadsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ForumThreadResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ForumPostsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ForumLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/market/{id}/itemmarket": {
            "get": {
                "tags": [
                    "Market",
                    "Item Market",
                    "Unstable"
                ],
                "summary": "Get item market listings",
                "description": "Requires public access key. <br>",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Item id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ItemId"
                        }
                    },
                    {
                        "name": "bonus",
                        "in": "query",
                        "description": "Used to filter weapons with a specific bonus.",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/WeaponBonusEnum"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketItemMarketResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/market/lookup": {
            "get": {
                "tags": [
                    "Market",
                    "Lookup",
                    "Stable"
                ],
                "summary": "Get all available market selections",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketLookupResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/market/timestamp": {
            "get": {
                "tags": [
                    "Market",
                    "Stable"
                ],
                "summary": "Get current server time",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/market": {
            "get": {
                "tags": [
                    "Market",
                    "Stable"
                ],
                "summary": "Get any Market selection",
                "description": "Requires public access key. <br>Choose one or more selections (comma separated).",
                "parameters": [
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/MarketSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bonus",
                        "in": "query",
                        "description": "Used to filter weapons with a specific bonus",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/WeaponBonusEnum"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Direction to sort rows in",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/MarketItemMarketResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/MarketLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/racing/races": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get races",
                "description": "Requires public access key. <br>Returns a list of races, ordered by race start timestamp.",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by schedule.start field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when started races are returned (schedule.start)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when started races are returned (scheduled.start)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Category of races returned",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "custom",
                            "enum": [
                                "official",
                                "custom"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingRacesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/racing/{trackId}/records": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get track records",
                "description": "Requires public access key. <br>Returns a list of 10 best lap records for the chosen track and car class. Results are cached globally 1 hour.",
                "parameters": [
                    {
                        "name": "trackId",
                        "in": "path",
                        "description": "Track id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RaceTrackId"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Car class",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RaceClassEnum"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingTrackRecordsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/racing/{raceId}/race": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get specific race details",
                "description": "Requires public access key. <br>Returns the details of a race.",
                "parameters": [
                    {
                        "name": "raceId",
                        "in": "path",
                        "description": "Race id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RaceId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingRaceDetailsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/racing/cars": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get cars and their racing stats",
                "description": "Requires public access key. <br>Returns the stat details about racing cars.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingCarsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/racing/tracks": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get race tracks and descriptions",
                "description": "Requires public access key. <br>Returns the details about racing tracks.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingTracksResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/racing/carupgrades": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get all possible car upgrades",
                "description": "Requires public access key. <br>Returns the details about all possible car upgrades.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingCarUpgradesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/racing/lookup": {
            "get": {
                "tags": [
                    "Racing",
                    "Lookup",
                    "Stable"
                ],
                "summary": "Get all available racing selections",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingLookupResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/racing/timestamp": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get current server time",
                "description": "Requires public access key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/racing": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get any Racing selection",
                "description": "Requires public access key. <br>Choose one or more selections (comma separated).",
                "parameters": [
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/RacingSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Direction to sort rows in",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/RacingRacesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RacingTrackRecordsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RacingRaceDetailsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RacingCarsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RacingTracksResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RacingCarUpgradesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RacingLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/torn/{crimeId}/subcrimes": {
            "get": {
                "tags": [
                    "Torn",
                    "Crimes 2.0",
                    "Stable"
                ],
                "summary": "Get Subcrimes information",
                "description": "Requires public access key. <br> Return the details about possible actions for a specific crime.",
                "parameters": [
                    {
                        "name": "crimeId",
                        "in": "path",
                        "description": "Crime id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornSubcrimesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/torn/crimes": {
            "get": {
                "tags": [
                    "Torn",
                    "Crimes 2.0",
                    "Stable"
                ],
                "summary": "Get crimes information",
                "description": "Requires public access key. <br> Return the details about released crimes.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornCrimesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/torn/calendar": {
            "get": {
                "tags": [
                    "Torn",
                    "Stable"
                ],
                "summary": "Get calendar information",
                "description": "Requires public access key. <br> Get the details about competitions & events in the running year.",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornCalendarResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/torn/hof": {
            "get": {
                "tags": [
                    "Torn",
                    "Hall of Fame",
                    "Stable"
                ],
                "summary": "Get player hall of fame positions for a specific category",
                "description": "Requires public key.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Leaderboards category",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TornHofCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornHofResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/torn/factionhof": {
            "get": {
                "tags": [
                    "Torn",
                    "Hall of Fame",
                    "Stable"
                ],
                "summary": "Get faction hall of fame positions for a specific category",
                "description": "Requires public access key. <br> ",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Leaderboards category",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TornFactionHofCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornFactionHofResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/torn/{logCategoryId}/logtypes": {
            "get": {
                "tags": [
                    "Torn",
                    "Logs",
                    "Stable"
                ],
                "summary": "Get available log ids for a specific log category",
                "description": "Requires public key. <br>",
                "parameters": [
                    {
                        "name": "logCategoryId",
                        "in": "path",
                        "description": "Log category id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/LogCategoryId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornLogTypesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/torn/logtypes": {
            "get": {
                "tags": [
                    "Torn",
                    "Logs",
                    "Stable"
                ],
                "summary": "Get all available log ids",
                "description": "Requires public key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornLogTypesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/torn/logcategories": {
            "get": {
                "tags": [
                    "Torn",
                    "Logs",
                    "Stable"
                ],
                "summary": "Get available log categories",
                "description": "Requires public key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornLogCategoriesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/torn/bounties": {
            "get": {
                "tags": [
                    "Torn",
                    "Bounties",
                    "Stable"
                ],
                "summary": "Get bounties",
                "description": "Requires public key. <br>",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornBountiesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/torn/lookup": {
            "get": {
                "tags": [
                    "Torn",
                    "Lookup",
                    "Stable"
                ],
                "summary": "Get all available torn selections",
                "description": "Requires public key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornLookupResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/torn/timestamp": {
            "get": {
                "tags": [
                    "Torn",
                    "Stable"
                ],
                "summary": "Get current server time",
                "description": "Requires public key. <br>",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/torn": {
            "get": {
                "tags": [
                    "Torn",
                    "Stable"
                ],
                "summary": "Get any Torn selection",
                "description": "Requires public access key. <br> Choose one or more selections (comma separated).",
                "parameters": [
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/TornSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTags"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Direction to sort rows in",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/TornSubcrimesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornCrimesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornCalendarResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornHofResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornFactionHofResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornLogTypesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornLogCategoriesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornBountiesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/user/{id}/personalstats": {
            "get": {
                "tags": [
                    "User",
                    "Unstable"
                ],
                "summary": "Get a player's personal stats",
                "description": "Requires public access key. <br>\n *  UserPersonalStatsFull is returned only when this selection is requested for the key owner with Limited, Full or Custom key.\n *  UserPersonalStatsFullPublic is returned when the requested category is 'all'.\n *  UserPersonalStatsPopular is returned when the requested category is 'popular'. Please try to use UserPersonalStatsPopular over UserPersonalStatsFullPublic wherever possible in order to reduce the server load.\n *  Otherwise, UserPersonalStatsCategory is returned for the matched category.\n *  It's possible to request specific stats via 'stat' parameter. In this case the response will vary depending on the stats requested. Private stats are still available only to the key owner (with Limited or higher key).\n *  Additionally, historical stats can also be fetched via 'stat' query parameter, but 'timestamp' parameter must be provided as well. It's only possible to pass up to 10 historical stats at once (the rest is trimmed). When requesting historical stats the response will be of type UserPersonalStatsHistoric.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PersonalStatsCategoryEnum"
                        }
                    },
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Stat names (10 maximum). Used to fetch historical stat values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/PersonalStatsStatName"
                            }
                        }
                    },
                    {
                        "name": "timestamp",
                        "in": "query",
                        "description": "Returns stats until this timestamp (converted to nearest date).",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPersonalStatsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/user/personalstats": {
            "get": {
                "tags": [
                    "User",
                    "Unstable"
                ],
                "summary": "Get your personal stats",
                "description": "Requires public access key. <br>\n * UserPersonalStatsFull is returned only when this selection is requested with Limited, Full or Custom key access key.\n * UserPersonalStatsFullPublic is returned when the requested category is 'all'.\n * UserPersonalStatsPopular is returned when the requested category is 'popular'. Please try to use UserPersonalStatsPopular over UserPersonalStatsFullPublic wherever possible in order to reduce the server load.\n * Otherwise, UserPersonalStatsCategory is returned for the matched category.\n * It's possible to request specific stats via 'stat' parameter. In this case the response will vary depending on the stats requested. Private stats are still available only to the key owner (with Limited or higher key).\n * Additionally, historical stats can also be fetched via 'stat' query parameter, but 'timestamp' parameter must be provided as well. It's only possible to pass up to 10 historical stats at once (the rest is trimmed). When requesting historical stats the response will be of type UserPersonalStatsHistoric.",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Stats category. Required unless requesting specific stats via 'stat' query parameter",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PersonalStatsCategoryEnum"
                        }
                    },
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Stat names (10 maximum). Used to fetch historical stat values",
                        "required": false,
                        "style": "form",
[...]
