{
    "openapi": "3.1.0",
    "info": {
        "title": "Torn API",
        "description": "\n * The development of Torn's API v2 is still ongoing.\n * If selections remain unaltered, they will default to the API v1 version.\n * Unlike API v1, API v2 accepts both selections and IDs as path and query parameters.\n * If any discrepancies or errors are found, please submit a [bug report](https://www.torn.com/forums.php#/p=forums&f=19&b=0&a=0) on the Torn Forums.\n * In case you're using bots to check for changes on openapi.json file, make sure to specificy a custom user-agent header - CloudFlare sometimes prevents requests from default user-agents.",
        "version": "2.0.2"
    },
    "servers": [
        {
            "url": "https://api.torn.com/v2",
            "description": "This is the base URL"
        }
    ],
    "paths": {
        "/user/attacks": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your detailed attacks",
                "description": "Requires limited access key. <br>",
                "operationId": "3acc98a3016974b786cb01e04e1ced04",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionAttacksResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/attacksfull": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your simplified attacks",
                "description": "Requires limited access key. <br>Returns up to 1,000 rows. <br>",
                "operationId": "e995691fd9845c8b4a91f065ac9c8420",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit1000"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionAttacksFullResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/bounties": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get bounties placed on you",
                "description": "Requires public access key. <br>",
                "operationId": "c85fd102a25aaec3aa98611d0da6c219",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserBountiesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/bounties": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get bounties placed on a specific user",
                "description": "Requires public access key. <br>",
                "operationId": "eb5eca5c6b978ee23ef74035c14ff4cc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserBountiesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/calendar": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your competition's event start time",
                "description": "Requires minimal access key. <br>Only available to yourself.",
                "operationId": "4cc4cc6fa3764f9732db9589e91d7739",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCalendarResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{crimeId}/crimes": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your crime statistics",
                "description": "Requires minimal access key. <br>Return the details and statistics about for a specific crime.",
                "operationId": "37f1e394f9d6e3f6fd436fae3e9b9ac4",
                "parameters": [
                    {
                        "name": "crimeId",
                        "in": "path",
                        "description": "Crime id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TornCrimeId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCrimesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/education": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your education information",
                "description": "The response contains a list of complete eduactions and of a current education (if any).",
                "operationId": "fddc6adc5139d8a1e0a151d80816dba7",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserEducationResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/user/enlistedcars": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get user enlisted cars",
                "description": "Requires minimal access key. <br>Returns a list of all user enlisted cars.",
                "operationId": "dc3deee7629610931240be337c47a8ee",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserEnlistedCarsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/factionbalance": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your current faction balance",
                "description": "Requires limited access key. <br>",
                "operationId": "b7ebbeea51dc2ef56c3ed5fd9d94e680",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserFactionBalanceResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumfeed": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get updates on your threads and posts",
                "description": "Requires minimal access key. <br>This selection returns data visible in 'Feed' section on forum page. Feed is sorted by timestamp descending. Only a maximum of 100 rows are returned.",
                "operationId": "17f99b99fac9601887dd1d001b95bb08",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumFeedResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumfriends": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get updates on your friends' activity",
                "description": "Requires minimal access key. <br>This selection returns data visible in 'Friends' section on forum page. Feed is sorted by timestamp descending. Only a maximum of 100 rows are returned.",
                "operationId": "2ceb7f08dc5f06a01d1fbe50425414c1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumFriendsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumposts": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your posts",
                "description": "Requires public access key. <br>Returns 20 posts per page.",
                "operationId": "cc3a21ed98c1a80ffeeda4e33c75b9a0",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumPostsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/forumposts": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get posts for a specific player",
                "description": "Requires public access key. <br>Returns 20 posts per page for a specific player.",
                "operationId": "423ceffcad89f9ee7abfb85bed32b692",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumPostsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumsubscribedthreads": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get updates on threads you subscribed to",
                "description": "Requires minimal access key. <br>This selection returns data visible in 'Subscribed Threads' section on forum page. Threads are sorted in the same way as on site.",
                "operationId": "92c7e86065c3d18b000e825aa6688eed",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumSubscribedThreadsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/forumthreads": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your threads",
                "description": "Requires public access key. <br>Returns 100 threads per page. The field 'new_posts' is also available, indicating the amount of unread posts with a Minimum API key (or higher).",
                "operationId": "807adc6a64d86e07d629a15dde8c6105",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumThreadsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/forumthreads": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get threads for a specific player",
                "description": "Requires public access key. <br>Returns 100 threads per page for a specific player. When requesting data for the key owner, a field 'new_posts' is also available, indicating the amount of unread posts. Minimum API key is required for that.",
                "operationId": "481c6645dae298b54f0630ef7de81dba",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumThreadsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/hof": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your hall of fame rankings",
                "description": "Requires public access key. <br>When requesting selection with Limited, Full or Custom key, battle_stats selection will be populated.",
                "operationId": "959a3a302d736b416ec1edd4def8fe91",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserHofResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/hof": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get hall of fame rankings for a specific player",
                "description": "Requires public access key. <br>The battle_stats selection will be populated only when requesting selection with Limited, Full or Custom key and for yourself.",
                "operationId": "f86d41c9434e42d22f9ff46ecc4e5b88",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserHofResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/itemmarket": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your item market listings for a specific item",
                "description": "Requires limited access key. <br>",
                "operationId": "8fcbe4dcf8a3a28e31e2eaab877feea1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserItemMarketResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/jobranks": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your starter job positions",
                "description": "Requires minimal access key. <br>",
                "operationId": "facf1ddeef80a440229941f49aec6ccc",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserJobRanksResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/list": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your friends, enemies or targets list",
                "description": "Requires limited access key. <br>",
                "operationId": "e93ba44fcc7ad2eb3063dec7469ee2f6",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Select list type",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserListEnum"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit50"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortAsc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/organizedcrime": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your current ongoing organized crime",
                "description": "Requires minimal access key. <br>",
                "operationId": "3c6f8acbfcb398592e3f3b65ab91a40f",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserOrganizedCrimeResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/personalstats": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your personal stats",
                "description": "Requires public access key. <br>\n * UserPersonalStatsFull is returned only when this selection is requested with Limited, Full or Custom key access key.\n * UserPersonalStatsFullPublic is returned when the requested category is 'all'.\n * UserPersonalStatsPopular is returned when the requested category is 'popular'. Please try to use UserPersonalStatsPopular over UserPersonalStatsFullPublic wherever possible in order to reduce the server load.\n * Otherwise, UserPersonalStatsCategory is returned for the matched category.\n * It's possible to request specific stats via 'stat' parameter. In this case the response will vary depending on the stats requested. Private stats are still available only to the key owner (with Limited or higher key).\n * Additionally, historical stats can also be fetched via 'stat' query parameter, but 'timestamp' parameter must be provided as well. It's only possible to pass up to 10 historical stats at once (the rest is trimmed). When requesting historical stats the response will be of type UserPersonalStatsHistoric.",
                "operationId": "388e8008ae1c2645819af76d71ef92a5",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Stats category. Required unless requesting specific stats via 'stat' query parameter",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PersonalStatsCategoryEnum"
                        }
                    },
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Stat names (10 maximum). Used to fetch historical stat values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/PersonalStatsStatName"
                            }
                        }
                    },
                    {
                        "name": "timestamp",
                        "in": "query",
                        "description": "Returns stats until this timestamp (converted to nearest date).",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPersonalStatsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/{id}/personalstats": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get a player's personal stats",
                "description": "Requires public access key. <br>\n *  UserPersonalStatsFull is returned only when this selection is requested for the key owner with Limited, Full or Custom key.\n *  UserPersonalStatsFullPublic is returned when the requested category is 'all'.\n *  UserPersonalStatsPopular is returned when the requested category is 'popular'. Please try to use UserPersonalStatsPopular over UserPersonalStatsFullPublic wherever possible in order to reduce the server load.\n *  Otherwise, UserPersonalStatsCategory is returned for the matched category.\n *  It's possible to request specific stats via 'stat' parameter. In this case the response will vary depending on the stats requested. Private stats are still available only to the key owner (with Limited or higher key).\n *  Additionally, historical stats can also be fetched via 'stat' query parameter, but 'timestamp' parameter must be provided as well. It's only possible to pass up to 10 historical stats at once (the rest is trimmed). When requesting historical stats the response will be of type UserPersonalStatsHistoric.",
                "operationId": "6ac851069df2c33e53cc69eecae44f1e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/PersonalStatsCategoryEnum"
                        }
                    },
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Stat names (10 maximum). Used to fetch historical stat values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/PersonalStatsStatName"
                            }
                        }
                    },
                    {
                        "name": "timestamp",
                        "in": "query",
                        "description": "Returns stats until this timestamp (converted to nearest date).",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPersonalStatsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/properties": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your own properties",
                "description": "Requires public access key. <br>Extended responses are available when requesting the data with Limited or higher access keys.",
                "operationId": "574a416ca46717830f03a2f685955b87",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPropertiesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/user/{id}/properties": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get specific user's properties",
                "description": "Requires public access key. <br>Extended responses are available when requesting the data with Limited or higher access keys for yourself or your spouse.",
                "operationId": "601f7b38ac25e1ac47b33fb64120198b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPropertiesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/user/property": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your current property",
                "description": "Requires public access key. <br>",
                "operationId": "0452cb8fd031b80d3b7e9fcb7b0bdf09",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPropertyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/user/{id}/property": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get specific user's property",
                "description": "Requires public access key. <br>",
                "operationId": "f36ce18449194dd9d2b62bccd4bb8343",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserPropertyResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/user/races": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get user races",
                "description": "Requires minimal access key. <br>Returns a list of user races, ordered by race start timestamp.",
                "operationId": "ba6e495bf0c6b2e87db337c1a09f4852",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Category of races returned",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/RacingRaceTypeEnum"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserRacesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/racingrecords": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your current racing records",
                "description": "Requires minimal access key. <br>",
                "operationId": "e1b2c1039ea41f7607b9c94660fc72cb",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserRacingRecordsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/user/reports": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your reports",
                "description": "Requires limited access key. <br>\n * The default limit is set to 25. However, the limit can be set to 100 for the 'stats' category.",
                "operationId": "6ba15a813fe1cc014564e9dba892e022",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Used to filter reports with a specific type.",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/ReportTypeEnum"
                        }
                    },
                    {
                        "name": "target",
                        "in": "query",
                        "description": "Get reports for a specific player by passing their player ID.",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/user/revives": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your detailed revives",
                "description": "Requires limited access key. <br>",
                "operationId": "3c847eb1325040798f37a7492108e094",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RevivesResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/revivesFull": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your simplified revives",
                "description": "Requires limited access key. <br>",
                "operationId": "8820cd889afde899353037ca5a0f9a07",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit1000Default20"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RevivesFullResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/lookup": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get all available user selections",
                "description": "Requires public access key. <br>",
                "operationId": "c0a6c91697cd1683c39b3c0649a18ec8",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserLookupResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user/timestamp": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get current server time",
                "description": "Requires public access key. <br>",
                "operationId": "a72308321da0c4a2c31c60218acc7a85",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get any User selection",
                "description": "Key access level depends on the required selections. <br>Choose one or more selections (comma separated).",
                "operationId": "ce480599312126b8a5d77ced3ab8caa8",
                "parameters": [
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/UserSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/UserId"
                                },
                                {
                                    "$ref": "#/components/schemas/TornCrimeId"
                                },
                                {
                                    "type": "string"
                                }
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category. Can belong to one of the specified types.",
                        "required": false,
                        "schema": {
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/ReportTypeEnum"
                                },
                                {
                                    "$ref": "#/components/schemas/UserListEnum"
                                },
                                {
                                    "$ref": "#/components/schemas/PersonalStatsCategoryEnum"
                                },
                                {
                                    "$ref": "#/components/schemas/RacingRaceTypeEnum"
                                }
                            ]
                        }
                    },
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Selection stat",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/PersonalStatsStatName"
                            }
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTags"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/UserCrimesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserRacesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserEnlistedCarsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserForumPostsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserForumThreadsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserForumSubscribedThreadsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserForumFeedResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserForumFriendsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserHofResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserCalendarResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserRacingRecordsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserEducationResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserBountiesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserJobRanksResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserPropertiesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserFactionBalanceResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RevivesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RevivesFullResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserItemMarketResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserListResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserPersonalStatsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserOrganizedCrimeResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionAttacksResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionAttacksFullResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/UserLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/applications": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's applications",
                "description": "Requires minimal access key with faction API access permissions. <br>",
                "operationId": "9f7dccb023d81a8da7f5f6a359658a64",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionApplicationsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/attacks": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's detailed attacks",
                "description": "Requires limited access key with faction API access permissions. <br>",
                "operationId": "cb5b38ba64c389e706526df8bc8af9b6",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionAttacksResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/attacksfull": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's simplified attacks",
                "description": "Requires limited access key with faction API access permissions. <br>",
                "operationId": "8551280aaaf9819aa94be5c469a523de",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit1000"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionAttacksFullResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/balance": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's & member's balance details",
                "description": "Requires limited access key with faction API access permissions. <br>",
                "operationId": "3ca2c0319f960b728ffece8e322cf40f",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionBalanceResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/basic": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's basic details",
                "description": "Requires public access key. <br> The 'is_enlisted' value will be populated if you have API faction permissions (with custom, limited or full access keys), otherwise it will be set as null.",
                "operationId": "fb363bf0e1d54296bd4d5dd554ad9825",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionBasicResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{id}/basic": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a faction's basic details",
                "description": "Requires public access key. <br> The 'is_enlisted' value will be populated if you're requesting data for your faction and have faction permissions (with custom, limited or full access keys), otherwise it will be set as null.",
                "operationId": "a09da2d5f951a49d974dbec3149b3a24",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionBasicResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/chain": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's current chain",
                "description": "Requires public access key. <br>",
                "operationId": "aee5679a81c6a7bcd3862c0aafd6b558",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionOngoingChainResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{id}/chain": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a faction's current chain",
                "description": "Requires public access key. <br>",
                "operationId": "ec8f82e15a321adbb20e615024d9dff6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionOngoingChainResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/chains": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a list of your faction's completed chains",
                "description": "Requires public access key. <br>",
                "operationId": "dfc0adb55af4aeeeebc2d82309c71eea",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionChainsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{id}/chains": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a list of a faction's completed chains",
                "description": "Requires public access key. <br>",
                "operationId": "dd88ca1ffafed80457916da5298a3422",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSortDesc"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionChainsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/chainreport": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's latest chain report",
                "description": "Requires public access key. <br> This includes currently ongoing chains.",
                "operationId": "614a2f2bdd7fb6df778b7657c75d1113",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionChainReportResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/{chainId}/chainreport": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a chain report",
                "description": "Requires public access key. <br> Chain reports for ongoing chains are available only for your own faction.",
                "operationId": "21a251c2ec9f6c93b89fb715196bb8be",
                "parameters": [
                    {
                        "name": "chainId",
                        "in": "path",
                        "description": "Chain id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ChainId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionChainReportResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Stable"
            }
        },
        "/faction/contributors": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's challenge contributors",
                "description": "Requires limiteed access key with faction API access permissions. <br>",
                "operationId": "40eb7627818eb777fdc713ed78209c6b",
                "parameters": [
                    {
                        "name": "stat",
                        "in": "query",
                        "description": "Get contributors for this field.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionStatEnum"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "By default, this selection will return only current faction's member contributions, and the option 'all' will return all contributors.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "current"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiTimestamp"
                    },
                    {
                        "$ref": "#/components/parameters/ApiComment"
                    },
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionContributorsResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-stability": "Unstable"
            }
        },
        "/faction/crimes": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's organized crimes",
                "description": "Requires minimal access key with faction API access permissions. <br> It's possible to get older entries either by timestamp range (from, to) or with offset.<br> Crimes are ordered depending on the category chosen:\n * For categories 'all' & 'available', the ordering field is 'created_at'.\n * For categories 'successful', 'failed' & 'completed', the ordering field is 'executed_at'.\n * For categories 'recruiting' & 'expired', the ordering field is 'expired_at'.\n * For category 'planning', the ordering field is 'ready_at'.",
                "operationId": "72e5db8a773908fedff4bb002f3f4406",
                "parameters": [
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Category of organized crimes returned. Category 'available' includes both 'recruiting' & 'planning', and category 'completed' includes both 'successful' & 'failure'<br>Default category is 'all'.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "recruiting",
                                "planning",
[...]
