{
    "openapi": "3.0.0",
    "info": {
        "title": "Torn API",
        "description": "\n * The development of Torn's API v2 is still ongoing.\n * If selections remain unaltered, they will default to the API v1 version.\n * Unlike API v1, API v2 accepts both selections and IDs as path and query parameters.\n * If any discrepancies or errors are found, please submit a [bug report](https://www.torn.com/forums.php#/p=forums&f=19&b=0&a=0) on the Torn Forums.",
        "version": "2.0"
    },
    "servers": [
        {
            "url": "https://api.torn.com/v2",
            "description": "This is the base URL"
        }
    ],
    "paths": {
        "/faction/{id}/hof": {
            "get": {
                "tags": [
                    "Hall of Fame",
                    "Faction",
                    "Stable"
                ],
                "summary": "Get a faction's hall of fame rankings.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionHofResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/hof": {
            "get": {
                "tags": [
                    "Hall of Fame",
                    "Faction",
                    "Stable"
                ],
                "summary": "Get your faction's hall of fame rankings.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionHofResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/{id}/members": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get a list of a faction's members",
                "description": "The 'revive_setting' value will be populated (not Unknown) if you're requesting data for your own faction and have faction permissions (with custom, limited or full access keys), otherwise it will be set as 'Unknown'.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionMembersResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/members": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get a list of your faction's members",
                "description": "The 'revive_setting' value will be populated (not Unknown) if you have faction permissions (with custom, limited or full access keys), otherwise it will be set as 'Unknown'.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionMembersResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/{id}/basic": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get a faction's basic details",
                "description": "The 'is_enlisted' value will be populated if you're requesting data for your faction and have faction permissions (with custom, limited or full access keys), otherwise it will be set as null.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionBasicResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/basic": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get your faction's basic details",
                "description": "The 'is_enlisted' value will be populated if you have API faction permissions (with custom, limited or full access keys), otherwise it will be set as null.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionBasicResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/{id}/wars": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get a faction's wars & pacts details",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Faction id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionWarsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/wars": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get your faction's wars & pacts details",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionWarsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/news": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get your faction's news details",
                "description": "It is possible to pass up to 10 categories at the time (comma separated). Categories 'attack', 'depositFunds' and 'giveFunds' are only available with 'Custom', 'Limited' or 'Full' access keys.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsFalse"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "News category type",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionNewsCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionNewsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/attacks": {
            "get": {
                "tags": [
                    "Faction",
                    "Attacking",
                    "Stable"
                ],
                "summary": "Get your faction's detailed attacks",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionAttacksResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/attacksfull": {
            "get": {
                "tags": [
                    "Faction",
                    "Attacking",
                    "Stable"
                ],
                "summary": "Get your faction's attacks",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit1000"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionAttacksFullResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/applications": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get your faction's applications",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionApplicationsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/lookup": {
            "get": {
                "tags": [
                    "Faction",
                    "Lookup",
                    "Stable"
                ],
                "summary": "Get all available faction selections",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FactionLookupResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/timestamp": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get current server time",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction": {
            "get": {
                "tags": [
                    "Faction",
                    "Stable"
                ],
                "summary": "Get any Faction selection",
                "description": "Choose one or more selections (comma separated).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/FactionSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTags"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Direction to sort rows in",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/FactionHofResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionMembersResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionBasicResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionWarsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionNewsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionAttacksResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionAttacksFullResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionApplicationsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/FactionLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forum/categories": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get publicly available forum categories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumCategoriesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forum/{categoryIds}/threads": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get threads for specific public forum category or categories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by the greatest of first_post_time and last_post_time timestamps",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Returns threads created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Returns threads created after this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "categoryIds",
                        "in": "path",
                        "description": "Category id or a list of category ids (comma separated)",
                        "required": true,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ForumId"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumThreadsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forum/threads": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get threads across all forum categories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by the greatest of first_post_time and last_post_time timestamps",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Returns threads created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Returns threads created after this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumThreadsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forum/{threadId}/thread": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get specific thread details",
                "description": "Contains details of a thread including topic content and poll (if any).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "threadId",
                        "in": "path",
                        "description": "Thread id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ForumThreadId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumThreadResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forum/{threadId}/posts": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get specific forum thread posts",
                "description": "Returns 20 posts per page for a specific thread.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "This parameter is being replaced with 'stripTags' parameter and will be removed on 1st December 2024. Determines if the 'content' field returns raw HTML or plain text",
                        "required": false,
                        "deprecated": true,
                        "schema": {
                            "type": "string",
                            "default": "plain",
                            "enum": [
                                "raw",
                                "plain"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "name": "threadId",
                        "in": "path",
                        "description": "Thread id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ForumThreadId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumPostsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forum/lookup": {
            "get": {
                "tags": [
                    "Forum",
                    "Lookup",
                    "Stable"
                ],
                "summary": "Get all available forum selections",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumLookupResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forum/timestamp": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get current server time",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forum": {
            "get": {
                "tags": [
                    "Forum",
                    "Stable"
                ],
                "summary": "Get any Forum selection",
                "description": "Choose one or more selections (comma separated).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ForumSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTags"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Direction to sort rows in",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/ForumCategoriesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ForumThreadsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ForumThreadResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ForumPostsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ForumLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/{id}/itemmarket": {
            "get": {
                "tags": [
                    "Market",
                    "Item Market",
                    "Unstable"
                ],
                "summary": "Get item market listings",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Item id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ItemId"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "This parameter is being replaced with 'bonus' parameter and will be removed on 1st December 2024.",
                        "required": false,
                        "deprecated": true,
                        "schema": {
                            "$ref": "#/components/schemas/WeaponBonusEnum"
                        }
                    },
                    {
                        "name": "bonus",
                        "in": "query",
                        "description": "Used to filter weapons with a specific bonus.",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/WeaponBonusEnum"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketItemMarketResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/lookup": {
            "get": {
                "tags": [
                    "Market",
                    "Lookup",
                    "Stable"
                ],
                "summary": "Get all available market selections",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MarketLookupResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/timestamp": {
            "get": {
                "tags": [
                    "Market",
                    "Stable"
                ],
                "summary": "Get current server time",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market": {
            "get": {
                "tags": [
                    "Market",
                    "Stable"
                ],
                "summary": "Get any Market selection",
                "description": "Choose one or more selections (comma separated).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/MarketSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bonus",
                        "in": "query",
                        "description": "Used to filter weapons with a specific bonus",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/WeaponBonusEnum"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Direction to sort rows in",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/MarketItemMarketResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/MarketLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/races": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get races",
                "description": "Returns a list of races, ordered by race start timestamp.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by schedule.start field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when started races are returned (schedule.start)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when started races are returned (scheduled.start)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Category of races returned",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "custom",
                            "enum": [
                                "official",
                                "custom"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingRacesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/{trackId}/records": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get track records",
                "description": "Returns a list of 10 best lap records for the chosen track and car class. Results are cached globally 1 hour.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "trackId",
                        "in": "path",
                        "description": "Track id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RaceTrackId"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Car class",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RaceClassEnum"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingTrackRecordsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/{raceId}/race": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get specific race details",
                "description": "Returns the details of a race.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Race id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RaceId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingRaceDetailsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/cars": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get cars and their racing stats",
                "description": "Returns the stat details about racing cars.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingCarsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/tracks": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get race tracks and descriptions",
                "description": "Returns the details about racing tracks.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingTracksResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/carupgrades": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get all possible car upgrades",
                "description": "Returns the details about all possible car upgrades.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingCarUpgradesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/lookup": {
            "get": {
                "tags": [
                    "Racing",
                    "Lookup",
                    "Stable"
                ],
                "summary": "Get all available racing selections",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RacingLookupResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/timestamp": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get current server time",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing": {
            "get": {
                "tags": [
                    "Racing",
                    "Stable"
                ],
                "summary": "Get any Racing selection",
                "description": "Choose one or more selections (comma separated).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/RacingSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Direction to sort rows in",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/RacingRacesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RacingTrackRecordsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RacingRaceDetailsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RacingCarsResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RacingTracksResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RacingCarUpgradesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/RacingLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/{crimeId}/subcrimes": {
            "get": {
                "tags": [
                    "Torn",
                    "Crimes 2.0",
                    "Stable"
                ],
                "summary": "Get Subcrimes information",
                "description": "Return the details about possible actions for a specific crime.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "crimeId",
                        "in": "path",
                        "description": "Crime id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornSubcrimesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/crimes": {
            "get": {
                "tags": [
                    "Torn",
                    "Crimes 2.0",
                    "Stable"
                ],
                "summary": "Get crimes information",
                "description": "Return the details about released crimes.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornCrimesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/calendar": {
            "get": {
                "tags": [
                    "Torn",
                    "Stable"
                ],
                "summary": "Get calendar information",
                "description": "Get the details about competitions & events in the running year.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornCalendarResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/hof": {
            "get": {
                "tags": [
                    "Torn",
                    "Hall of Fame",
                    "Stable"
                ],
                "summary": "Get player hall of fame positions for a specific category",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Leaderboards category",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TornHofCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornHofResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/factionhof": {
            "get": {
                "tags": [
                    "Torn",
                    "Hall of Fame",
                    "Stable"
                ],
                "summary": "Get faction hall of fame positions for a specific category",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Leaderboards category",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TornFactionHofCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornFactionHofResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/{logCategoryId}/logtypes": {
            "get": {
                "tags": [
                    "Torn",
                    "Logs",
                    "Stable"
                ],
                "summary": "Get available log ids for a specific log category",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "logCategoryId",
                        "in": "path",
                        "description": "Log category id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/LogCategoryId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornLogTypesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/logtypes": {
            "get": {
                "tags": [
                    "Torn",
                    "Logs",
                    "Stable"
                ],
                "summary": "Get all available log ids",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornLogTypesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/logcategories": {
            "get": {
                "tags": [
                    "Torn",
                    "Logs",
                    "Stable"
                ],
                "summary": "Get available log categories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornLogCategoriesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/bounties": {
            "get": {
                "tags": [
                    "Torn",
                    "Bounties",
                    "Stable"
                ],
                "summary": "Get bounties",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornBountiesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/lookup": {
            "get": {
                "tags": [
                    "Torn",
                    "Lookup",
                    "Stable"
                ],
                "summary": "Get all available torn selections",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornLookupResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/timestamp": {
            "get": {
                "tags": [
                    "Torn",
                    "Stable"
                ],
                "summary": "Get current server time",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimestampResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn": {
            "get": {
                "tags": [
                    "Torn",
                    "Stable"
                ],
                "summary": "Get any Torn selection",
                "description": "Choose one or more selections (comma separated).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "selections",
                        "in": "query",
                        "description": "Selection names",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/TornSelectionName"
                            }
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "selection id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTags"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when rows are returned",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Selection category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Direction to sort rows in",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffsetNoDefault"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/TornSubcrimesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornCrimesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornCalendarResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornHofResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornFactionHofResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornLogTypesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornLogCategoriesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornBountiesResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TornLookupResponse"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TimestampResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/{crimeId}/crimes": {
            "get": {
                "tags": [
                    "User",
                    "Crimes 2.0",
                    "Stable"
                ],
                "summary": "Get user's crime statistics",
                "description": "Return the details and statistics about a user's specific crime.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    },
                    {
                        "name": "crimeId",
                        "in": "path",
                        "description": "Crime id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCrimesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/races": {
            "get": {
                "tags": [
                    "Racing",
                    "User",
                    "Stable"
                ],
                "summary": "Get user races",
                "description": "Returns a list of user races, ordered by race start timestamp.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by schedule.start field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when started races are returned (schedule.start)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when started races are returned (scheduled.start)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Category of races returned",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "custom",
                            "enum": [
                                "official",
                                "custom"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserRacesResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/enlistedcars": {
            "get": {
                "tags": [
                    "Racing",
                    "User",
                    "Stable"
                ],
                "summary": "Get user enlisted cars",
                "description": "Returns a list of all user enlisted cars.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserEnlistedCarsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/{id}/forumposts": {
            "get": {
                "tags": [
                    "Forum",
                    "User",
                    "Stable"
                ],
                "summary": "Get posts for a specific player",
                "description": "Returns 20 posts per page for a specific player.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "This parameter is being replaced with 'stripTags' parameter and will be removed on 1st December 2024. Determines if the 'content' field returns raw HTML or plain text",
                        "required": false,
                        "deprecated": true,
                        "schema": {
                            "type": "string",
                            "default": "plain",
                            "enum": [
                                "raw",
                                "plain"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 20,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by post created timestamp",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Returns posts created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Returns posts created after this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumPostsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/forumposts": {
            "get": {
                "tags": [
                    "Forum",
                    "User",
                    "Stable"
                ],
                "summary": "Get your posts",
                "description": "Returns 20 posts per page.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "This parameter is being replaced with 'stripTags' parameter and will be removed on 1st December 2024. Determines if the 'content' field returns raw HTML or plain text",
                        "required": false,
                        "deprecated": true,
                        "schema": {
                            "type": "string",
                            "default": "plain",
                            "enum": [
                                "raw",
                                "plain"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsTrue"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 20,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by post created timestamp",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Returns posts created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Returns posts created after this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumPostsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/{id}/forumthreads": {
            "get": {
                "tags": [
                    "Forum",
                    "User",
                    "Stable"
                ],
                "summary": "Get threads for a specific player",
                "description": "Returns 100 threads per page for a specific player. When requesting data for the key owner, a field 'new_posts' is also available, indicating the amount of unread posts. Minimum API key is required for that.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by the greatest of first_post_time and last_post_time timestamps",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Returns threads created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Returns threads created after this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumThreadsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/forumthreads": {
            "get": {
                "tags": [
                    "Forum",
                    "User",
                    "Stable"
                ],
                "summary": "Get your threads",
                "description": "Returns 100 threads per page. The field 'new_posts' is also available, indicating the amount of unread posts with a Minimum API key (or higher).",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by the greatest of first_post_time and last_post_time timestamps",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Returns threads created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Returns threads created after this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserForumThreadsResponse"
                                }
                            }
                        }
[...]
