{
    "openapi": "3.0.0",
    "info": {
        "title": "Torn API",
        "version": "2.0"
    },
    "servers": [
        {
            "url": "https://api.torn.com/v2",
            "description": "This is the base URL"
        }
    ],
    "paths": {
        "/faction/?selections=hof": {
            "get": {
                "tags": [
                    "Hall of Fame",
                    "Faction"
                ],
                "summary": "Get a faction's hall of fame rankings.",
                "description": "If the id is not provided it will return details of your own faction.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Faction id",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "hof": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FactionHofStats"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/?selections=members": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a list of faction's members",
                "description": "The 'revive_setting' value will be populated (not Unknown) if you're requesting data for your faction and have faction permissions (with custom, limited or full access keys), otherwise it will be set as 'Unknown'. If the id is not provided it will return details of your own faction.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Faction id",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    },
                    {
                        "name": "striptags",
                        "in": "query",
                        "description": "Determines if the 'status.details' field includes HTML or not ('Hospitalized by <a href=...>user</a>' vs 'Hospitalized by user'",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "true",
                            "enum": [
                                "true",
                                "false"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "members": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FactionMember"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/?selections=basic": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a faction's basic details",
                "description": "The 'is_enlisted' value will be populated if you're requesting data for your faction and have faction permissions (with custom, limited or full access keys), otherwise it will be set as null. If the id is not provided it will return details of your own faction.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Faction id",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "basic": {
                                            "$ref": "#/components/schemas/FactionBasic"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/?selections=wars": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get a faction's wars & pacts details",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Faction id",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/FactionId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "pacts": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FactionPact"
                                            }
                                        },
                                        "wars": {
                                            "$ref": "#/components/schemas/FactionWars"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/?selections=news": {
            "get": {
                "tags": [
                    "Faction"
                ],
                "summary": "Get your faction's news details",
                "description": "It is possible to pass up to 10 categories at the time (comma separated). Categories 'attack', 'depositFunds' and 'giveFunds' are only available with 'Custom', 'Limited' or 'Full' access keys.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    },
                    {
                        "$ref": "#/components/parameters/ApiStripTagsFalse"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "News category type",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/FactionNewsCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "news": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FactionNews"
                                            }
                                        },
                                        "_metadata": {
                                            "$ref": "#/components/schemas/RequestMetadataWithLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/?selections=attacks": {
            "get": {
                "tags": [
                    "Faction",
                    "Attacking"
                ],
                "summary": "Get your faction's detailed attacks",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attacks": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Attack"
                                            }
                                        },
                                        "_metadata": {
                                            "$ref": "#/components/schemas/RequestMetadataWithLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/faction/?selections=attacksfull": {
            "get": {
                "tags": [
                    "Faction",
                    "Attacking"
                ],
                "summary": "Get your faction's attacks",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit1000"
                    },
                    {
                        "$ref": "#/components/parameters/ApiSort"
                    },
                    {
                        "$ref": "#/components/parameters/ApiTo"
                    },
                    {
                        "$ref": "#/components/parameters/ApiFrom"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "attacks": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AttackSimplified"
                                            }
                                        },
                                        "_metadata": {
                                            "$ref": "#/components/schemas/RequestMetadataWithLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forum/?selections=categories": {
            "get": {
                "tags": [
                    "Forum"
                ],
                "summary": "Get a list of publicly available forum categories",
                "description": "It is possible to get threads from returned public categories.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForumCategories"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forum/?selections=threads": {
            "get": {
                "tags": [
                    "Forum"
                ],
                "summary": "Get threads",
                "description": "Returns a list of threads for the chosen forum category (or categories).",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by the greatest of first_post_time and last_post_time timestamps",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Returns threads created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Returns threads created after this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The forum ID or a list of forum IDs",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "threads": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ForumThreadBase"
                                            }
                                        },
                                        "_links": {
                                            "$ref": "#/components/schemas/RequestLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forum/?selections=thread": {
            "get": {
                "tags": [
                    "Forum"
                ],
                "summary": "Get specific thread details",
                "description": "Return the details of a thread including topic content and poll (if any).",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Thread id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ForumThreadId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "thread": {
                                            "$ref": "#/components/schemas/ForumThreadExtended"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forum/?selections=posts": {
            "get": {
                "tags": [
                    "Forum"
                ],
                "summary": "Get specific thread posts",
                "description": "Returns 20 posts per page for the specific thread.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "minimum": 0
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Determines if the 'content' field returns raw HTML or plain text",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "plain",
                            "enum": [
                                "raw",
                                "plain"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Thread id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ForumThreadId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "posts": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ForumPost"
                                            }
                                        },
                                        "_links": {
                                            "$ref": "#/components/schemas/RequestLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/market/?selections=itemmarket": {
            "get": {
                "tags": [
                    "Market",
                    "Item Market"
                ],
                "summary": "Get item market listings",
                "description": "It is possible to get specific weapon bonuses by using the 'cat' parameter (will be replaced with 'bonus' parameter in the near future.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Item id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Weapon bonus",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/WeaponBonusEnum"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "itemmarket": {
                                            "$ref": "#/components/schemas/ItemMarket"
                                        },
                                        "_metadata": {
                                            "$ref": "#/components/schemas/RequestMetadataWithLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/?selections=races": {
            "get": {
                "tags": [
                    "Racing"
                ],
                "summary": "Get races",
                "description": "Returns a list of races, ordered by race start timestamp.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by schedule.start field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when started races are returned (schedule.start)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when started races are returned (scheduled.start)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Category of races returned",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "custom",
                            "enum": [
                                "official",
                                "custom"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Races"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/?selections=records": {
            "get": {
                "tags": [
                    "Racing"
                ],
                "summary": "Get track records",
                "description": "Returns a list of 10 best lap records for the chosen track and car class. Results are cached globally 1 hour.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Track id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RaceTrackId"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Car class",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RaceClassEnum"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaceRecords"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/?selections=race": {
            "get": {
                "tags": [
                    "Racing"
                ],
                "summary": "Get specific race details",
                "description": "Returns the details of a race.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Race id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/RaceId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaceDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/?selections=cars": {
            "get": {
                "tags": [
                    "Racing"
                ],
                "summary": "Get cars and their racing stats",
                "description": "Returns the stat details about racing cars.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaceCars"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/?selections=tracks": {
            "get": {
                "tags": [
                    "Racing"
                ],
                "summary": "Get race tracks and descriptions",
                "description": "Returns the details about racing tracks.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaceTracks"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/racing/?selections=carupgrades": {
            "get": {
                "tags": [
                    "Racing"
                ],
                "summary": "Get all possible car upgrades",
                "description": "Returns the details about all possible car upgrades.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaceCarUpgrades"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/?selections=subcrimes": {
            "get": {
                "tags": [
                    "Torn",
                    "Crimes 2.0"
                ],
                "summary": "Get Subcrimes information",
                "description": "Return the details about possible actions for a specific crime.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Crime id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornSubcrimes"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/?selections=crimes": {
            "get": {
                "tags": [
                    "Torn",
                    "Crimes 2.0"
                ],
                "summary": "Get crimes information",
                "description": "Return the details about released crimes.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TornCrimes"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/?selections=calendar": {
            "get": {
                "tags": [
                    "Torn"
                ],
                "summary": "Get calendar information",
                "description": "Get the details about competitions & events in the running year.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Public)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "calendar": {
                                            "properties": {
                                                "competitions": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/TornCalendarActivity"
                                                    }
                                                },
                                                "events": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/TornCalendarActivity"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/?selections=hof": {
            "get": {
                "tags": [
                    "Torn",
                    "Hall of Fame"
                ],
                "summary": "Get player hall of fame positions for a specific category",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Leaderboards category",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TornHofCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "hof": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TornHof"
                                            }
                                        },
                                        "_links": {
                                            "$ref": "#/components/schemas/RequestLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/?selections=factionhof": {
            "get": {
                "tags": [
                    "Torn",
                    "Hall of Fame"
                ],
                "summary": "Get faction hall of fame positions for a specific category",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Leaderboards category",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/TornFactionHofCategory"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "factionhof": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TornFactionHof"
                                            }
                                        },
                                        "_links": {
                                            "$ref": "#/components/schemas/RequestLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/?selections=logtypes": {
            "get": {
                "tags": [
                    "Torn",
                    "Logs"
                ],
                "summary": "Get available log ids",
                "description": "Default behavior is to return all log ids, but you can also get only specific log types by passing a category id.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Log category id",
                        "required": false,
                        "schema": {
                            "$ref": "#/components/schemas/LogCategoryId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "logtypes": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TornLog"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/?selections=logcategories": {
            "get": {
                "tags": [
                    "Torn",
                    "Logs"
                ],
                "summary": "Get available log categories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "logcategories": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TornLogCategory"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/torn/?selections=bounties": {
            "get": {
                "tags": [
                    "Torn",
                    "Bounties"
                ],
                "summary": "Get bounties",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "$ref": "#/components/parameters/ApiLimit100"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "bounties": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Bounty"
                                            }
                                        },
                                        "_links": {
                                            "$ref": "#/components/schemas/RequestLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=crimes": {
            "get": {
                "tags": [
                    "User",
                    "Crimes 2.0"
                ],
                "summary": "Get user's crime statistics",
                "description": "Return the details and statistics about a user's specific crime.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Minimal)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Crime id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserCrimeDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=races": {
            "get": {
                "tags": [
                    "Racing",
                    "User"
                ],
                "summary": "Get user races",
                "description": "Returns a list of user races, ordered by race start timestamp.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Minimal)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by schedule.start field",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Timestamp until when started races are returned (schedule.start)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Timestamp after when started races are returned (scheduled.start)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Category of races returned",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "custom",
                            "enum": [
                                "official",
                                "custom"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RaceDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=enlistedcars": {
            "get": {
                "tags": [
                    "Racing",
                    "User"
                ],
                "summary": "Get user enlisted cars",
                "description": "Returns a list of all user enlisted cars.",
                "parameters": [
                    {
                        "name": "key",
                        "in": "query",
                        "description": "API key (Minimal)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserRaceCarDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=forumposts": {
            "get": {
                "tags": [
                    "Forum",
                    "User"
                ],
                "summary": "Get posts for a specific player",
                "description": "Returns 20 posts per page for a specific player.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "cat",
                        "in": "query",
                        "description": "Determines if the 'content' field returns raw HTML or plain text",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "plain",
                            "enum": [
                                "raw",
                                "plain"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "maximum": 20,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by post created timestamp",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Returns posts created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Returns posts created after this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "forumPosts": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ForumPost"
                                            }
                                        },
                                        "_links": {
                                            "$ref": "#/components/schemas/RequestLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=forumthreads": {
            "get": {
                "tags": [
                    "Forum",
                    "User"
                ],
                "summary": "Get threads for a specific player",
                "description": "Returns 100 threads per page for a specific player. When requesting data for the key owner, a field 'new_posts' is also available, indicating the amount of unread posts. Minimum API key is required for that.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 100,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sorted by the greatest of first_post_time and last_post_time timestamps",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "DESC",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Returns threads created before this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Returns threads created after this timestamp",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "forumThreads": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ForumThreadUserExtended"
                                            }
                                        },
                                        "_links": {
                                            "$ref": "#/components/schemas/RequestLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=forumsubscribedthreads": {
            "get": {
                "tags": [
                    "Forum",
                    "User"
                ],
                "summary": "Get updates on threads you subscribed to",
                "description": "This selection returns data visible in 'Subscribed Threads' section on forum page. Threads are sorted in the same way as on site.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "forumSubscribedThreads": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ForumSubscribedThread"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=forumfeed": {
            "get": {
                "tags": [
                    "Forum",
                    "User"
                ],
                "summary": "Get updates on your threads and posts",
                "description": "This selection returns data visible in 'Feed' section on forum page. Feed is sorted by timestamp descending. Only a maximum of 100 rows are returned.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "forumFeed": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ForumFeed"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=forumfriends": {
            "get": {
                "tags": [
                    "Forum",
                    "User"
                ],
                "summary": "Get updates on your friends' activity",
                "description": "This selection returns data visible in 'Friends' section on forum page. Feed is sorted by timestamp descending. Only a maximum of 100 rows are returned.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "forumFriends": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ForumFeed"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=hof": {
            "get": {
                "tags": [
                    "Hall of Fame",
                    "User"
                ],
                "summary": "Get a player's hall of fame rankings",
                "description": "When requesting selection for yourself with Limited key (or higher), battle_stats selection will be populated.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "hof": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserHofStats"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=calendar": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your competition's event start time",
                "description": "Only available to yourself.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "calendar": {
                                            "$ref": "#/components/schemas/UserCalendar"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=bounties": {
            "get": {
                "tags": [
                    "User",
                    "Bounties"
                ],
                "summary": "Get bounties placed on a user",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyPublic"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "User id",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/UserId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "bounties": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Bounty"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=jobranks": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Get your starter job positions",
                "description": "Only available to yourself.",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyMinimal"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "jobranks": {
                                            "$ref": "#/components/schemas/UserJobRanks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/?selections=itemmarket": {
            "get": {
                "tags": [
                    "User",
                    "Item Market"
                ],
                "summary": "Get your item market listings",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ApiKeyLimited"
                    },
                    {
                        "$ref": "#/components/parameters/ApiOffset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "itemmarket": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserItemMarketListing"
                                            }
                                        },
                                        "_metadata": {
                                            "$ref": "#/components/schemas/RequestMetadataWithLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "RaceClassEnum": {
                "type": "string",
                "enum": [
                    "A",
                    "B",
                    "C",
                    "D",
                    "E"
                ]
            },
            "FactionNewsCategory": {
                "type": "string",
                "enum": [
                    "main",
                    "attack",
                    "armoryDeposit",
                    "armoryAction",
                    "territoryWar",
                    "rankedWar",
                    "territoryGain",
                    "chain",
                    "crime",
                    "membership",
                    "depositFunds",
                    "giveFunds"
                ]
            },
            "FactionRankEnum": {
                "type": "string",
                "enum": [
                    "Unranked",
                    "Bronze",
                    "Silver",
                    "Gold",
                    "Platinum",
                    "Diamond"
                ]
            },
            "UserCrimeUniquesRewardAmmoEnum": {
                "type": "string",
                "enum": [
                    "standard",
                    "special"
                ]
            },
            "RaceStatusEnum": {
                "type": "string",
                "enum": [
                    "open",
                    "in_progress",
                    "finished"
                ]
            },
            "TornHofCategory": {
                "type": "string",
                "enum": [
                    "level",
                    "busts",
                    "rank",
                    "traveltime",
                    "workstats",
                    "networth",
                    "revives",
                    "defends",
                    "offences",
                    "attacks",
                    "awards",
                    "racingwins",
                    "racingpoints",
                    "racingskill"
                ]
            },
            "TornFactionHofCategory": {
                "type": "string",
                "enum": [
                    "respect",
                    "chains",
                    "rank"
                ]
            },
            "FactionAttackResult": {
                "type": "string",
                "enum": [
                    "None",
                    "Attacked",
                    "Mugged",
                    "Hospitalized",
                    "Arrested",
                    "Looted",
                    "Lost",
                    "Stalemate",
                    "Assist",
                    "Escape",
                    "Timeout",
                    "Special",
                    "Bounty",
                    "Interrupted"
                ]
            },
            "RaceCarUpgradeCategory": {
                "type": "string",
                "enum": [
                    "Aerodynamics",
                    "Brakes",
                    "Engine",
                    "Exhaust and Induction",
                    "Fuel",
                    "Safety",
                    "Suspension",
                    "Transmission",
                    "Weight Reduction",
                    "Wheels and Tyres"
                ]
            },
            "JobPositionArmyEnum": {
                "type": "string",
                "enum": [
                    "Private",
                    "Corporal",
                    "Sergeant",
                    "Master Sergeant",
                    "Warrant Officer",
                    "Lieutenant",
                    "Major",
                    "Colonel",
                    "Brigadier",
                    "General"
                ]
            },
            "JobPositionGrocerEnum": {
                "type": "string",
                "enum": [
                    "Bagboy",
                    "Price Labeler",
                    "Cashier",
                    "Food Delivery",
                    "Manager"
                ]
            },
            "WeaponBonusEnum": {
                "type": "string",
                "enum": [
                    "Proficience",
                    "Expose",
                    "Stricken",
                    "Plunder",
                    "Burn",
                    "Emasculate",
                    "Poison",
                    "Blindfire",
                    "Hazardous",
                    "Spray",
                    "Demoralize",
                    "Storage",
                    "Freeze",
                    "Sleep",
                    "Revitalize",
                    "Wither",
                    "Roshambo",
                    "Slow",
                    "Cripple",
                    "Weaken",
                    "Cupid",
                    "Throttle",
                    "Crusher",
                    "Achilles",
                    "Blindside",
                    "Backstab",
                    "Grace",
                    "Berserk",
                    "Conserve",
                    "Eviscerate",
                    "Bleed",
                    "Stun",
                    "Paralyze",
                    "Suppress",
                    "Motivation",
                    "Deadly",
                    "Deadeye",
                    "Fury",
                    "Rage",
                    "Puncture",
                    "Comeback",
                    "Powerful",
                    "Specialist",
                    "Assassinate",
                    "Smurf",
                    "Double-edged",
                    "Execute",
                    "Shock",
                    "Wind-up",
                    "Sure Shot",
                    "Focus",
                    "Frenzy",
                    "Warlord",
                    "Finale",
                    "Home run",
                    "Parry",
                    "Bloodlust",
                    "Disarm",
                    "Empower",
                    "Quicken",
                    "Lacerate",
                    "Penetrate",
                    "Irradiate",
                    "Toxin",
                    "Smash",
                    "Double Tap"
                ]
            },
            "JobPositionCasinoEnum": {
                "type": "string",
                "enum": [
                    "Gaming Consultant",
                    "Marketing Manager",
                    "Revenue Manager",
                    "Casino Manager",
                    "Casino President"
                ]
            },
            "JobPositionMedicalEnum": {
                "type": "string",
                "enum": [
                    "Medical Student",
                    "Houseman",
                    "Senior Houseman",
                    "GP",
                    "Consultant",
                    "Surgeon",
                    "Brain Surgeon"
                ]
            },
            "JobPositionLawEnum": {
                "type": "string",
                "enum": [
                    "Law Student",
                    "Paralegal",
                    "Probate Lawyer",
                    "Trial Lawyer",
                    "Circuit Court Judge",
                    "Federal Judge"
                ]
            },
            "JobPositionEducationEnum": {
                "type": "string",
                "enum": [
                    "Recess Supervisor",
                    "Substitute Teacher",
                    "Elementary Teacher",
                    "Secondary Teacher",
                    "Professor",
                    "Vice-Principal",
                    "Principal"
                ]
            },
            "RaceCarUpgradeSubCategory": {
                "type": "string",
                "enum": [
                    "Engine Cooling",
                    "Front Diffuser",
                    "Rear Diffuser",
                    "Spoiler",
                    "Brake Accessory",
                    "Brake Control",
                    "Callipers",
                    "Discs",
                    "Brake Cooling",
                    "Fluid",
                    "Rear Control Arms",
                    "Springs",
                    "Upper Front Brace",
                    "Clutch",
                    "Differential",
                    "Flywheel",
                    "Gearbox",
                    "Shifting",
                    "Boot",
                    "Hood",
                    "Interior",
                    "Roof",
                    "Steering wheel",
                    "Strip out",
                    "Windows",
                    "Tyres",
                    "Wheels",
                    "Rear Bushes",
                    "Rear Brace",
                    "Lower Front Brace",
                    "Front Tie Rods",
                    "Front Bushes",
                    "Seat",
                    "Safety Accessory",
                    "Roll cage",
                    "Overalls",
                    "Helmet",
                    "Fire Extinguisher",
                    "Cut-off",
                    "Fuel",
                    "Manifold",
                    "Exhaust",
                    "Air Filter",
                    "Turbo",
                    "Pistons",
                    "Intercooler",
                    "Gasket",
                    "Fuel Pump",
                    "Engine Porting",
                    "Engine Cleaning",
                    "Computer",
                    "Camshaft",
                    "Pads",
                    "Fluid"
                ]
            },
            "RaceId": {
                "type": "integer"
            },
            "RaceTrackId": {
                "type": "integer"
            },
            "RaceCarId": {
                "type": "integer"
            },
            "RaceCarUpgradeId": {
                "type": "integer"
            },
            "ItemId": {
                "type": "integer"
            },
            "UserId": {
                "type": "integer"
            },
            "LogId": {
                "type": "integer"
            },
            "LogCategoryId": {
                "type": "integer"
            },
            "FactionId": {
                "type": "integer"
            },
            "AttackId": {
                "type": "integer"
            },
            "AttackCode": {
                "type": "string"
            },
            "ForumId": {
                "type": "integer"
            },
            "ForumThreadId": {
                "type": "integer"
            },
            "ForumPostId": {
                "type": "integer"
            },
            "RequestLinks": {
                "properties": {
                    "next": {
                        "description": "Auto-generated link to get the next set of records.",
                        "type": "string",
                        "nullable": true
                    },
                    "prev": {
                        "description": "Auto-generated link to get the prev set of records.",
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "RequestMetadata": {
                "properties": {
                    "links": {
                        "$ref": "#/components/schemas/RequestLinks"
                    }
                },
                "type": "object"
            },
            "RequestMetadataWithLinks": {
                "properties": {
                    "links": {
                        "$ref": "#/components/schemas/RequestLinks"
                    }
                },
                "type": "object"
            },
            "ForumFeedTypeEnum": {
                "description": "This represents the type of the activity. Values range from 1 to 8 where:\n *                    1 = 'X posted on a thread',\n *                    2 = 'X created a thread',\n *                    3 = 'X liked your thread',\n *                    4 = 'X disliked your thread',\n *                    5 = 'X liked your post',\n *                    6 = 'X disliked your post',\n *                    7 = 'X quoted your post'.",
                "type": "integer",
                "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7
                ]
            },
            "ReviveSetting": {
                "type": "string",
                "enum": [
                    "Everyone",
                    "Friends & faction",
                    "No one",
                    "Unknown"
                ]
            },
            "AttackPlayerFaction": {
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/FactionId"
                    },
                    "name": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "AttackPlayer": {
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/UserId"
                    },
                    "name": {
                        "type": "string"
                    },
                    "level": {
                        "type": "integer"
                    },
                    "faction": {
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/AttackPlayerFaction"
                            },
                            {
                                "type": "object",
                                "nullable": true
                            }
                        ]
                    }
                },
                "type": "object"
            },
            "AttackPlayerSimplified": {
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/UserId"
                    },
                    "faction_id": {
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/FactionId"
                            },
                            {
                                "type": "integer",
                                "nullable": true
                            }
                        ]
                    }
                },
                "type": "object"
            },
            "Attack": {
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/AttackId"
                    },
                    "code": {
                        "$ref": "#/components/schemas/AttackCode"
                    },
                    "started": {
                        "description": "Attack start timestamp.",
                        "type": "integer"
                    },
                    "ended": {
                        "description": "Attack end timestamp.",
                        "type": "integer"
                    },
                    "attacker": {
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/AttackPlayer"
                            },
                            {
                                "type": "object",
                                "nullable": true
                            }
                        ]
                    },
                    "defender": {
                        "$ref": "#/components/schemas/AttackPlayer"
                    },
                    "result": {
                        "$ref": "#/components/schemas/FactionAttackResult"
                    },
                    "respect_gain": {
                        "type": "number",
                        "format": "float"
                    },
                    "respect_loss": {
                        "type": "number",
                        "format": "float"
                    },
                    "chain": {
                        "type": "integer"
                    },
                    "is_stealthed": {
                        "type": "boolean"
                    },
                    "is_raid": {
                        "type": "boolean"
                    },
                    "is_ranked_war": {
                        "type": "boolean"
                    },
                    "modifiers": {
                        "properties": {
                            "fair_fight": {
                                "type": "number",
                                "format": "float"
                            },
                            "war": {
                                "type": "number",
                                "format": "float"
                            },
                            "retaliation": {
                                "type": "number",
                                "format": "float"
                            },
                            "group": {
                                "type": "number",
                                "format": "float"
                            },
                            "overseas": {
                                "type": "number",
                                "format": "float"
                            },
                            "chain": {
                                "type": "number",
                                "format": "float"
                            },
                            "warlord": {
                                "type": "number",
                                "format": "float"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "AttackSimplified": {
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/AttackId"
                    },
                    "code": {
                        "$ref": "#/components/schemas/AttackCode"
                    },
                    "started": {
                        "description": "Attack start timestamp.",
                        "type": "integer"
                    },
                    "ended": {
                        "description": "Attack end timestamp.",
                        "type": "integer"
                    },
                    "attacker": {
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/AttackPlayerSimplified"
                            },
                            {
                                "type": "object",
                                "nullable": true
                            }
                        ]
                    },
                    "defender": {
                        "$ref": "#/components/schemas/AttackPlayerSimplified"
                    },
                    "result": {
                        "$ref": "#/components/schemas/FactionAttackResult"
                    },
                    "respect_gain": {
                        "type": "number",
                        "format": "float"
                    },
                    "respect_loss": {
                        "type": "number",
                        "format": "float"
                    }
                },
                "type": "object"
            },
            "FactionHofStats": {
                "properties": {
                    "rank": {
                        "$ref": "#/components/schemas/HofValueString"
                    },
                    "respect": {
                        "$ref": "#/components/schemas/HofValue"
                    },
                    "chain": {
                        "$ref": "#/components/schemas/HofValue"
                    }
                },
                "type": "object"
            },
            "FactionMember": {
                "description": "Details about a faction member.",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/UserId"
                    },
                    "name": {
                        "type": "string"
                    },
                    "position": {
                        "type": "string"
                    },
                    "level": {
                        "type": "number"
                    },
                    "days_in_faction": {
                        "type": "number"
                    },
                    "is_revivable": {
                        "type": "boolean"
                    },
                    "last_action": {
                        "$ref": "#/components/schemas/UserLastAction"
                    },
                    "status": {
                        "$ref": "#/components/schemas/UserStatus"
                    },
                    "life": {
                        "$ref": "#/components/schemas/UserLife"
                    },
                    "revive_setting": {
                        "$ref": "#/components/schemas/ReviveSetting"
                    }
                },
                "type": "object"
            },
            "UserLastAction": {
                "description": "Details about a user's last action.",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "number"
                    },
                    "relative": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "UserLife": {
                "description": "Details about a user's life.",
                "properties": {
                    "current": {
                        "type": "number"
                    },
                    "maximum": {
                        "type": "number"
                    }
                },
                "type": "object"
            },
            "UserStatus": {
                "description": "Details about a user's status.",
                "properties": {
                    "description": {
                        "type": "string"
                    },
                    "details": {
                        "type": "string",
                        "nullable": true
                    },
                    "state": {
[...]
