import 'package:flutter/material.dart';

class NativeLoginWidget extends StatelessWidget {
  const NativeLoginWidget({super.key});

  @override
  Widget build(BuildContext context) {
    return const SizedBox.shrink();
  }
}
